AUTH0TENANT="example.eu.auth0.com"
AUTH0CLIENTID="EXAMPLEEXAMPLEEXAMPLEEXAMPLE"
AUTH0CLIENTSECRET="EXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLEEXAMPLE"
AUTH0APIENDPOINT="https://example.eu.auth0.com/api/v2/"